---
interface Props {
  title: string;
  url: string;
}

const { title, url } = Astro.props;
const { user } = JSON.parse(Astro.cookies.get("user")?.value as string);
---

<article
  class="flex flex-col border shadow-lg hover:shadow-indigo-500/40 border-slate-400 rounded-lg p-2"
>
  <div class="flex justify-between">
    <p class="text-gray-400">
      <span class="text-gray-500 font-semibold">{user?.name}</span>
      @{user?.email.split("@")[0]}
    </p>
    <div class="leading-3 text-lg font-bold flex w-16 text-gray-400">
      <!-- ••• -->
      <a href={`${Astro.url.origin}/link/edit/${title}`} target="_self" rel="noopener noreferrer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          data-title={title}
          fill="currentColor"
          class="btnEdit bi bi-pencil-fill hover:text-gray-300 hover:cursor-pointer"
          width="27"
          height="27"
        >
          <path
            d="M14.293 2.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-10 10a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.279-1.28l1-3a1 1 0 0 1 .242-.391l10-10zM16 5l-1-1L4.414 14.586l-.586 1.172 1.171-.585L16 6z"
          ></path>
        </svg>
      </a>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="ml-2 btnCopy hover:text-gray-300 hover:cursor-pointer"
        data-url={Astro.url.origin}
        data-title={title}
        viewBox="0 0 115.77 122.88"
        width="25"
        height="25"
        fill="currentColor"
      >
        <style type="text/css">
          .st0 {
            fill-rule: evenodd;
            clip-rule: evenodd;
          }
        </style>
        <g>
          <path
            class="st0"
            d="M89.62,13.96v7.73h12.19h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02v0.02 v73.27v0.01h-0.02c-0.01,3.84-1.57,7.33-4.1,9.86c-2.51,2.5-5.98,4.06-9.82,4.07v0.02h-0.02h-61.7H40.1v-0.02 c-3.84-0.01-7.34-1.57-9.86-4.1c-2.5-2.51-4.06-5.98-4.07-9.82h-0.02v-0.02V92.51H13.96h-0.01v-0.02c-3.84-0.01-7.34-1.57-9.86-4.1 c-2.5-2.51-4.06-5.98-4.07-9.82H0v-0.02V13.96v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07V0h0.02h61.7 h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02V13.96L89.62,13.96z M79.04,21.69v-7.73v-0.02h0.02 c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v64.59v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h12.19V35.65 v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07v-0.02h0.02H79.04L79.04,21.69z M105.18,108.92V35.65v-0.02 h0.02c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v73.27v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h61.7h0.02 v0.02c0.91,0,1.75-0.39,2.37-1.01c0.61-0.61,1-1.46,1-2.37h-0.02V108.92L105.18,108.92z"
          ></path></g
        >
      </svg>
    </div>
  </div>
  <div class="py-2">
    <p class="font-bold text-gray-300 text-2xl capitalize">{title}</p>
    <a href={url} target="_blank" class="text-indigo-600 text-lg break-words"
      >{Astro.url.origin}/s/{title}</a
    >
  </div>
</article>

<script>
  
  document.querySelectorAll(".btnCopy")?.forEach((element) => {
    element.addEventListener("click", () => {
      navigator.clipboard.writeText(
        element.getAttribute("data-url") +
          "/s/" +
          element.getAttribute("data-title"),
      );
      alert("Copied!");
    });
  });
</script>
